<% if collection.any? %>
  <div>
    <% comment_tree = Comment.tree(collection) %>
    <% comment_tree.select { |_, item| item[:parent_id].nil? }.each do |_, item| %>
      <%=
        render(
            partial: 'comments/comment',
            locals: {
                comment: item[:comment],
                show_container: show_reply_container,
                comment_tree: comment_tree,
                handler: handler
            }
        )
      %>
    <% end %>
  </div>
<% end %>
