<section class="comments-list">
  <% if comments.any? %>
    <h3><%= t(:comments_list) %></h3>

    <% comments.recent.each do |comment| %>
      <%= render comment %>
    <% end %>
  <% end %>

  <% if commentable.respond_to?(:commentable_by?) && commentable.commentable_by?(current_user) %>
    <section class="reply-container">
      <h3><%= t(:add_comment) %></h3>

      <div class="container">
        <%=
          render(
              partial: 'comments/form',
              locals: {
                  entity: Comment.new(commentable: commentable, user: current_user)
              }
          )
        %>
      </div>
    </section>
  <% end %>
</section>
