<%
  relative_path = Biovision::Components::CommentsComponent.commentable_path(@comment)
  protocol = ActionMailer::Base.default_url_options[:protocol] || 'http'
  url = "#{protocol}://" + ActionMailer::Base.default_url_options[:host] + relative_path
%>
<p>Здравствуйте, <%= @comment.commentable.user.name_for_letter %>.</p>

<p>
  На&nbsp;вашу запись «<%= link_to(@comment.commentable_title, url) %>»
  оставили комментарий.
</p>

<figure style="margin-left:0;border-left:2px solid #777777;padding:10px">
  <figcaption style="font-weight:700"><%= @comment.profile_name %>:</figcaption>
  <blockquote>
    <%= simple_format(@comment.body) %>
  </blockquote>
</figure>
