$border-secondary: .1rem solid #aaa !default;
$text-color-secondary: #777 !default;
$row-background-even: #f0f0f0 !default;
$row-background-odd: #fafafa !default;

.comments {
  h3::first-letter {
    text-transform: uppercase;
  }
}

.comments-list {
  border-bottom: $border-secondary;
  margin: var(--spacer-s, 1.6rem) 0;
  padding: 0 0 var(--spacer-s, 1.6rem);
}

.comment-item {
  position: relative;
  background-color: $row-background-odd;
  padding: var(--spacer-xxs, .4rem);

  &:first-of-type {
    margin-top: var(--spacer-s, 1.6rem);
  }

  &:nth-of-type(even) {
    background-color: $row-background-even;
  }

  .deleted {
    font-size: var(--font-size-decreased, 1.4rem);
    font-style: italic;
    padding: 0 var(--spacer-xs, .8rem);

    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }
  }

  .title {
    border-bottom: dotted .1rem;
    margin: var(--spacer-xs, .8rem) 0;
    padding: 0 0 var(--spacer-xxs, .4rem) 0;

    cite {
      &:before {
        content: open-quote;
      }

      &:after {
        content: close-quote;
      }
    }
  }

  .meta {
    display: flex;
    flex-wrap: wrap;
  }

  .avatar {
    height: 4.8rem;
    margin: 0 var(--spacer-xs, .8rem) 0 0;
    width: 4.8rem;
  }

  .info {
    display: flex;
    flex-direction: column;

    time {
      color: $text-color-secondary;
      font-size: var(--font-size-decreased, 1.4rem);
      margin-top: auto;
    }
  }

  .comment-wrapper {
    display: flex;
  }

  .vote-block {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: none;
    justify-content: center;
    width: 3.2rem;

    .result {
      color: $text-color-secondary;
      font-size: var(--font-size-decreased, 1.4rem);
      margin: var(--spacer-xxs, .4rem) 0;
    }
  }

  .vote {
    height: 1.6rem;
    width: .8rem;
  }

  .body {
    background: #ffffff;
    flex: 1;
    margin: var(--spacer-xs, .8rem);
    padding: var(--spacer-xs, .8rem);
    position: relative;
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .footer {
    padding: var(--spacer-xs, .8rem) var(--spacer-s, 1.6rem);

    > ul {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;

      > li {
        list-style: none;
        margin: 0 var(--spacer-xxs, .4rem);
        padding: 0;
        font-size: var(--font-size-small, 1.2rem);
        text-align: right;

        &:before {
          content: '[';
        }

        &:after {
          content: ']';
        }
      }
    }
  }
}

.comment-form {
  .fields {
    padding: var(--spacer-s, 1.6rem) 0;

    label {
      display: block;
    }

    textarea {
      margin: 0;
      padding: var(--spacer-xs, .8rem);
      width: 100%;
    }
  }

  .required {
    label {
      &::before {
        color: rgb(255, 63, 0);
        content: '*';
        margin: 0 var(--spacer-xxs, .4rem) 0 0;
      }
    }
  }
}
