$row-background-even: #f0f0f0 !default;
$row-background-odd: #fafafa !default;

.comments-list {
  margin: var(--spacer-s, 1.6rem) 0;
  padding: 0 var(--spacer-xs, .8rem);
}

.comment-item {
  position: relative;
  background-color: $row-background-odd;
  padding: var(--spacer-xxs, .4rem);

  &:nth-of-type(even) {
    background-color: $row-background-even;
  }

  .deleted {
    font-size: var(--font-size-decreased, 1.4rem);
    font-style: italic;
    padding: 0 var(--spacer-xs, .8rem);

    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }
  }

  .title {
    border-bottom: dotted .1rem;
    margin: var(--spacer-xs, .8rem) 0;
    padding: 0 0 var(--spacer-xxs, .4rem) 0;

    cite {
      &:before {
        content: open-quote;
      }

      &:after {
        content: close-quote;
      }
    }
  }

  .body {
    background: #ffffff;
    margin: var(--spacer-xs, .8rem);
    padding: var(--spacer-xs, .8rem);
    position: relative;
  }

  .author {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--spacer-xs, .8rem);

    time {
      font-size: var(--font-size-decreased, 1.4rem);
      font-style: italic;
    }
  }

  .footer {
    padding: var(--spacer-xs, .8rem) var(--spacer-s, 1.6rem);

    > ul {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;

      > li {
        list-style: none;
        margin: 0 var(--spacer-xxs, .4rem);
        padding: 0;
        font-size: var(--font-size-small, 1.2rem);
        text-align: right;

        &:before {
          content: '[';
        }

        &:after {
          content: ']';
        }
      }
    }
  }
}
